<!doctype html style="height:90%;">

<head>
<title>RecEventos</title>
<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/style.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>

<body style="height:90%;">

	<div class="span3" style="margin-left:5px;">
		<ul class="nav nav-list" style="height: 48%;">
			<li class="nav-header label label-info" style="margin-top:5px;">Cities</li>
			<li class="divider"></li>
			<li>
				<ul id="cities-list" class="well nav nav-list" style="height: 87%; overflow-y:scroll;">
					{% for city in cities %}
					{% if city == "Arlington" %}
					<li id="city_{{city|replace(' ','_')}}" class="active"><a href="#" onclick="changeCity('{{city}}')"><i class="icon-home"></i>{{city}}</a></li>
					{% else %}
					<li id="city_{{city|replace(' ','_')}}"><a href="#" onclick="changeCity('{{city}}')"><i class="icon-home"></i>{{city}}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
			</li>
		</ul>
		<ul class="nav nav-list" style="height: 45%; margin-top:50px;">
			<li id="user-list-header" class="nav-header label label-info">Loading users...</li>
			<li class="divider"></li>
			<li>
				<ul id="user-list" class="well nav nav-list" style="height: 87%; overflow-y:scroll;">
					<img src='static/ajax-loader-enhanced.gif'></img>
				</ul>
			</li>
		</ul>
	</div>
	<div class="span12" style="width:80%;">
		<div class="row">
			<div style="padding-top:10px; margin-top:2px;">
				<div class="row span9">
					<div class="span3">
						<span class="label label-inverse">Current city</span>
						<button id="cities_button" class="btn btn-large btn-inverse btn-block disabled" type="button">Loading...</button>
					</div>
					<div class="span3">
						<span class="label label-inverse">Recommendation technique</span>
						<div class="dropdown">
							<a id="algs_button" class="dropdown-toggle btn btn-large btn-inverse btn-block" data-toggle="dropdown" type="button" href="#"><i class="icon-remove icon-white"></i>None</a>
							<ul class="dropdown-menu text-right" role="menu" style='visibility:hidden;'>
								<li>
									<div class='btn-group btn-group-vertical' data-toggle='buttons-radio' style='visibility:visible;'>
										<button type='button' class='btn btn-large active' onclick="setRecommender('none', current_user);"><i class="icon-remove"></i> <strong class='muted'>None</strong></button>
										<button type='button' class='btn btn-large' onclick="setRecommender('distance', current_user);"><i class="icon-map-marker"></i> <strong class='muted'>Location Based</strong></button>
										<button type='button' class='btn btn-large' onclick=""><i class="icon-comment"></i> <strong class='muted'>Popularity Based</strong></button>
										<button type='button' class='btn btn-large' onclick=""><i class="icon-list-alt"></i> <strong class='muted'>Category Based</strong></button>
										<button type='button' class='btn btn-large' onclick=""><i class="icon-asterisk"></i> <strong class='muted'>Weighted Combination</strong></button>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="span2">
						<span class="label label-inverse">Filter</span>
						<div class="dropdown">
							<a id="filters_button" class="dropdown-toggle btn btn-large btn-inverse btn-block disabled" data-toggle="dropdown" type="button" href="#"><i class="icon-filter icon-white"></i> Toggles</a>
							<ul class="dropdown-menu text-right" role="menu" style="visibility:hidden;">
								<li>
									<div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox" style="visibility:visible;">
										<button type="button" class="btn btn-large" onclick="toggle(0); setRecommender(recommender, current_user);"><i class="icon-ok"></i> <strong class="text-success">Rec Events Hits</strong></button>
										<button type="button" class="btn btn-large" onclick="toggle(2); setRecommender(recommender, current_user);"><i class="icon-remove"></i> <strong class='text-error'>Rec Events Errors</strong></button>
										<button type="button" class="btn btn-large" onclick="toggle(1); setRecommender(recommender, current_user);"><i class="icon-warning-sign"></i> <strong class='text-warning'>Attended Events Misses</strong></button>
										<button type="button" class="btn btn-large" onclick="toggle(3); setRecommender(recommender, current_user);"><i class="icon-circle-arrow-left"></i> <strong class='muted'>Past Attended Events</strong></button>
										<button type="button" class="btn btn-large" onclick="toggle(4); setRecommender(recommender, current_user);"><i class="icon-circle-arrow-right"></i> <strong class='muted'>Future Attended Events</strong></button>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="span4" style="margin-bottom:35px;">
						<h1> RecEventos</h1>
						<small class="muted"><cite title="Events recommendation, only enhanced!">RecEventos</cite> &copy2013 FRH-Analytics <cite title="Universidade Federal de Campina Grande">UFCG</cite>/<cite title="Hewlett-Packard">HP</cite></small>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="loading_message" class="alert alert-info"><strong>Welcome!</strong> Loading map...</div>
			<div id="map_canvas" style="height:86%; width:100%;"></div>
		</div>
	</div>

	<div id="event_details" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="event_details_label" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3 id="event_details_label">Event Details</h3>
		</div>
		<div id="event_details_body" class="modal-body">
			<img src="static/ajax-loader.gif"></img>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>

    </body>
	<script src="static/jquery-1.9.1.min.js" language="javascript" type="text/javascript"></script>
	<script src="static/bootstrap/js/bootstrap.js" language="javascript" type="text/javascript"></script>
	<script language="javascript">
	
    var directionDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;

    var event_markers = new Array();
    var user_markers = new Array();
    var id_to_user_marker = {};
    var user_event_markers = new Array();

    var current_city = null;
    var current_user = null;
    var city_events = {};
    var city_members = {};
    var city_rec_events = {};

    var recommender = 'none';

    var recommended_stats = { 'already_happened' : 0, 'will_still_happen' : 0, 'recommendation_hit' : 0, 'recommendation_miss' : 0, 'recommendation_error' : 0, 'total_relevant' : 0 };
    var all_user_events_and_recommendations = null;

    var hits_enabled = false;
    var misses_enabled = false;
    var dismisses_enabled = false;
    var past_enabled = false;
    var future_enabled = false;

    function toggle(type){
	if ( type == 0 ){
		hits_enabled = !hits_enabled;
	}
	else if ( type == 1 ){
		misses_enabled = !misses_enabled;
	}
	else if ( type == 2 ){
		dismisses_enabled = !dismisses_enabled;
	}
	else if ( type == 3 ){
		past_enabled = !past_enabled;
	}
	else if ( type == 4 ){
		future_enabled = !future_enabled;
	}
    }

    function mapinitialize() {
    	directionsDisplay = new google.maps.DirectionsRenderer();
	var cg = new google.maps.LatLng(-7.242598, -35.892334);
	
	var styles = [
	  {
	    stylers: [
	      { hue: "#00ffe6" },
	      { saturation: -20 }
	    ]
	  },{
	    featureType: "road",
	    elementType: "geometry",
	    stylers: [
	      { lightness: 100 },
	      { visibility: "simplified" }
	    ]
	  },{
	    featureType: "road",
	    elementType: "labels",
	    stylers: [
	      { visibility: "off" }
	    ]
	  }
	];

        var myOptions = {
            zoom:11,
            mapTypeId:google.maps.MapTypeId.ROADMAP,
	    center:cg,
	    styles:styles,
	    disableDefaultUI:true,
	    scaleControl:true,
	    zoomControl:true
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	directionsDisplay.setMap(map);
    }

    function calcRoute(r) {

        var waypts = [];

        start = new google.maps.LatLng(r.src[0], r.src[1]);
        end = new google.maps.LatLng(r.dst[0], r.dst[1]);
        var request = {
            origin:start,
            destination:end,
            waypoints:waypts,
            optimizeWaypoints:true,
            travelMode:google.maps.DirectionsTravelMode.DRIVING
        };
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
                var route = response.routes[0];
            }
        });
	}

	function start(){
		mapinitialize();

		$("#user-list-header").html("Users at Arlington");
		current_city = "Arlington";
		$("#cities_button").html("<i class='icon-home icon-white'></i> Arlington");

		google.maps.event.addListener(map, 'tilesloaded', function(){
			$("#loading_message").css("display", "none");
		});

		$("#user-list").html("<img src='static/ajax-loader-enhanced.gif'></img>");

		city_events[current_city] = [];
		{% for event in events %}
		city_events[current_city].push({ 
			'id' : "{{event.id}}", 
			'lat' : {{event.lat}}, 
			'lon' : {{event.lon}}, 
			'name' : "{{event.name}}", 
			'venue_name' : "{{event.venue_name}}", 
			'venue_city' : "{{event.venue_city}}", 
			'time' : "{{event.time}}", 
			'created' : "{{event.created}}",
			'time_long' : {{event.time_long}},
			'created_long' : {{event.created_long}}
		});
		{% endfor %}

		city_rec_events[current_city] = [];
		{% for rec_event in rec_events %}
		city_rec_events[current_city].push({ 
			'id' : "{{rec_event.id}}", 
			'lat' : {{rec_event.lat}}, 
			'lon' : {{rec_event.lon}}, 
			'name' : "{{rec_event.name}}", 
			'venue_name' : "{{rec_event.venue_name}}", 
			'venue_city' : "{{rec_event.venue_city}}",			
			'time' : "{{rec_event.time}}", 
			'created' : "{{rec_event.created}}",
			'time_long' : {{rec_event.time_long}},
			'created_long' : {{rec_event.created_long}}
		});
		{% endfor %}

		var user_list = "";

		city_members[current_city] = [];
		{% for user in users %}
		city_members[current_city].push({ 
			'id' : "{{user.id}}", 
			'lat' : {{user.lat}}, 
			'lon' : {{user.lon}}, 
			'name' : "{{user.name}}", 
			'events' : "{{user.events}}".split(","), 
			'city' : "{{user.city}}", 
			'p_time' : "{{user.p_time}}", 
			'rec_distance' : "{{user.rec_distance}}".split(",")
		});
		user_list += "<li id='user-list-item_{{user.id}}'>"+
				"<a  name='user-list-item_{{user.id}}' href='#' onclick='chooseUserById({{user.id}})'>"+
					"<i class='icon-user'></i>"+
					"{{user.name}}"+
				"</a>"+
			     "</li>";
		{% endfor %}

		pinUsersInMap();
		if ( user_markers.length != 0 ){
			map.panTo(user_markers[Math.floor((Math.random()*user_markers.length))].marker.getPosition());
		}

		$("#user-list").html(user_list);
	}

	function changeCity(city){

		$("#user-list-header").html("Loading users...");
		$("#user-list").html("<img src='static/ajax-loader-enhanced.gif'></img>");

		$("#city_"+city.replace(" ", "_")).addClass("active");
		if ( current_city != null && current_city != "" && current_city != city ){
			$("#city_"+current_city.replace(" ", "_")).removeClass("active");
		}

		$("#loading_message").html("<strong>Be patient!</strong> Loading city data...");
		$("#loading_message").css("display", "");

		current_city = city;
		$("#cities_button").html("Loading...");
		if ( city_events[current_city] ){
			removeAllMarkers();
			pinUsersInMap();
			if ( user_markers.length != 0 ){
				map.panTo(user_markers[Math.floor((Math.random()*user_markers.length))].marker.getPosition());
			}
			var user_list = "";
			for ( i in city_members[current_city] ){
				user_list += "<li id='user-list-item_" + city_members[current_city][i].id + "'>"+
						"<a  name='user-list-item_" + city_members[current_city][i].id + "' href='#' onclick='chooseUserById("+ city_members[current_city][i].id +")'>"+
							"<i class='icon-user'></i>"+
							city_members[current_city][i].name+
						"</a>"+
					     "</li>";
			}
			$("#user-list").html(user_list);
			$("#cities_button").html("<i class='icon-home icon-white'></i> "+city);
			current_user = null;
			$("#user-list-header").html("Users at "+city);
			$("#loading_message").css("display", "none");
		}
		else{
			$.get("load_city/"+city.replace(" ", "_"), function(data){

				data = JSON.parse(data);

				city_events[current_city] = [];
				for ( var i=0; i<data.events.length; i++){
					city_events[current_city].push({ 
						'id' : data.events[i].id, 
						'lat' : data.events[i].lat, 
						'lon' : data.events[i].lon, 
						'name' : data.events[i].name, 
						'venue_name' : data.events[i].venue_name, 
						'venue_city' : data.events[i].venue_city, 
						'time' : data.events[i].time, 
						'created' : data.events[i].created,
						'time_long' : data.events[i].time_long,
						'created_long' : data.events[i].created_long
				       	});
				};

				city_rec_events[current_city] = [];
				for ( var i=0; i<data.rec_events.length; i++){
					city_rec_events[current_city].push({ 
						'id' : data.rec_events[i].id, 
						'lat' : data.rec_events[i].lat, 
						'lon' : data.rec_events[i].lon, 
						'name' : data.rec_events[i].name, 
						'venue_name' : data.rec_events[i].venue_name, 
						'venue_city' : data.rec_events[i].venue_city
				       	});
				};

				var user_list = "";
				city_members[current_city] = [];
				for ( var i=0; i<data.users.length; i++){
					city_members[current_city].push({ 
						'id' : data.users[i].id, 
						'lat' : data.users[i].lat, 
						'lon' : data.users[i].lon, 
						'name' : data.users[i].name, 
						'events' : data.users[i].events.split(","), 
						'city' : data.users[i].city, 
						'p_time' : data.users[i].p_time, 
						'rec_distance' : data.users[i].rec_distance.split(",")
				       	});
					user_list += "<li id=\"user-list-item_" + city_members[current_city][i].id + "\" >"+
							"<a  name=\"user-list-item_" + city_members[current_city][i].id + "\" "+
							"href='#'  onclick='chooseUserById("+ city_members[current_city][i].id +")'>"+
								"<i class='icon-user'></i>"+city_members[current_city][i].name+
							"</a>"+
						     "</li>";
				};

				removeAllMarkers();
				pinUsersInMap();
				if ( user_markers.length != 0 ){
					map.panTo(user_markers[Math.floor((Math.random()*user_markers.length))].marker.getPosition());
				}
				$("#user-list").html(user_list);
				$("#cities_button").html("<i class='icon-home icon-white'></i> "+city);
				current_user = null;
				$("#user-list-header").html("Users at "+city);
				$("#loading_message").css("display", "none");
			});
		}

	}

	function removeEventMarkers(){
		for (i in event_markers){
			event_markers[i].marker.setMap(null);
		}
		event_markers.length = 0;
	}

	function removeUserMarkers(){
		for (i in user_markers ){
			user_markers[i].marker.setMap(null);
		}
		user_markers.length = 0;
		id_to_user_marker = {};
	}

	function removeAllMarkers(){
		removeEventMarkers();
		removeUserMarkers();
	}

	function sortbyLatLng(a, b){
		if (a.lat < b.lat){
			return -1;
		}
		else if (a.lat == b.lat){
			if (a.lon < b.lon){
				return -1;
			}
			else if (a.lon == b.lon){
				return 0;
			}
			else{
				return -1;
			}
		}
		else{
			return 1;
		}
	}

	function chooseUserById(user_id){
		for ( i in city_members[current_city] ){
			if ( city_members[current_city][i].id == user_id ){
				var doIt = chooseUser(city_members[current_city][i], false);
				doIt();
				break;
			}
		}
	}

	function chooseUser(user, scroll){

		function doChooseAndPinEvents(){

			if ( current_user != null && current_user.id != user.id ){
				$("#user-list-item_"+current_user.id).removeClass("active");
				user_markers[id_to_user_marker[current_user.id]].marker.setIcon('static/user-pin.png');
				user_markers[id_to_user_marker[current_user.id]].marker.setZIndex(0);
			}

			$("#user-list-item_"+user.id).addClass("active");
			user_markers[id_to_user_marker[user.id]].marker.setIcon('static/chosen-user-pin.png');
			user_markers[id_to_user_marker[user.id]].marker.setZIndex(100);

			current_user = user;

			if ( scroll == true ){
				window.location = "#user-list-item_"+user.id;
			}

			if ( recommender != 'none' ){
				setRecommender(recommender, current_user);
				return;
			}
			else{
				pinUserEventsInMap(user);
			}

		}
		return doChooseAndPinEvents;
	}

	function pinUsersInMap(){

		var users = city_members[current_city];
		users.sort(sortbyLatLng);

		var c_lat = -1, c_long = -1;
		var close_users = new Array();

		for (var i=0; i<users.length; i++ ){

			if ( c_lat != -1 && c_long != -1 ){
				if (Math.abs(c_lat - users[i].lat) > 0.000001 && Math.abs(c_long - users[i].lon) > 0.000001){
					close_users = new Array();
				}
			}
			c_long = parseFloat(users[i].lon);
			c_lat = parseFloat(users[i].lat);

			var user_marker = new google.maps.Marker({position : new google.maps.LatLng(users[i].lat, users[i].lon),
						map : map,
						title : users[i].name,
						icon : 'static/user-pin.png',
						shadow: 'static/shadow-user-pin.png',
						draggable : true,
						zIndex : 0	});
			user_markers.push({ 'marker' : user_marker, 'user' : users[i] });
			id_to_user_marker[users[i].id] = i;
			var chooseUserClosure = chooseUser(users[i], true);
			google.maps.event.addListener(user_marker, 'click', chooseUserClosure);

			var user_details = showUserDetails(users[i]);
			google.maps.event.addListener(user_marker, 'dblclick', user_details);
			close_users.push(users[i]);
		}
	}

	function pinUserEventsInMap(user){

		removeEventMarkers();

		var events = city_events[current_city];
		var user_events = user.events;
		events.sort(sortbyLatLng);

		var c_lat = -1, c_long = -1;
		var close_events = new Array();

		for (var i=0; i<events.length; i++ ){

			for (var j=0; j<user_events.length; j++ ){
				if ( user_events[j] == events[i].id ){


					if ( c_lat != -1 && c_long != -1 ){
						if (Math.abs(c_lat - events[i].lat) > 0.000001 && Math.abs(c_long - events[i].lon) > 0.000001){
							close_events = new Array();
						}
					}
					c_long = parseFloat(events[i].lon);
					c_lat = parseFloat(events[i].lat);


					var event_status ="no_algorithm";
					var status_icon = determineIcon(event_status);
					var status_icon_shadow = determineIconShadow(event_status);
					var event_details = showEventDetails(user, events[i], event_status);
					
					var event_marker = new google.maps.Marker({position : new google.maps.LatLng(events[i].lat, events[i].lon),
								map : map,
								title : events[i].name + " at " + events[i].venue_name + ", " + events[i].venue_city,
								icon : status_icon,
								shadow : status_icon_shadow,
								draggable : true,
								zIndex : 200	});
					event_markers.push({ 'marker' : event_marker, 'event' : events[i] });
					google.maps.event.addListener(event_marker, 'click', event_details);
					close_events.push(events[i]);

					break;
				}
			}
		}
	}

	function determineIcon(status){
		if ( status == "no_algorithm" ){
			return 'static/unclassified-event-pin.png';
		}
		else if ( status == "already_happened" || status == "will_still_happen"	){
			return 'static/unclassified-event-pin.png';
		}
		else if ( status == "recommendation_hit" ){
			return 'static/new-recommendation_hit-event-pin.png';
		}
		else if ( status == "recommendation_miss" ){
			return 'static/new-recommendation_miss-event-pin.png';
		}
		else if ( status == "recommendation_error" ){
			return 'static/new-recommendation_error-event-pin.png';
		}
	}

	function determineIconShadow(status){
		return 'static/shadow-unclassified-event-pin.png';
/*		if ( status == "no_algorithm" ){
			return 'static/shadow-unclassified-event-pin.png';
		}
		else if ( status == "already_happened" || status == "will_still_happen"	){
			return 'static/shadow-disconsidered-event-pin.png';
		}
		else if ( status == "recommendation_hit" ){
			return 'static/shadow-recommendation_hit-event-pin.png';
		}
		else if ( status == "recommendation_miss" ){
			return 'static/shadow-recommendation_miss-event-pin.png';
		}
		else if ( status == "recommendation_error" ){
			return 'static/shadow-recommendation_error-event-pin.png';
		}*/
	}

	function getColor(status){
		if ( status == "no_algorithm" ){
			return '';
		}
		else if ( status == "already_happened" || status == "will_still_happen"	){
			return '';
		}
		else if ( status == "recommendation_hit" ){
			return "success";
		}
		else if ( status == "recommendation_miss" ){
			return 'warning';
		}
		else if ( status == "recommendation_error" ){
			return 'error';
		}
	}

	function determineStatusMsg(status){
		if ( status == "no_algorithm" ){
			return 'unclassified';
		}
		else if ( status == "already_happened" || status == "will_still_happen"	){
			return 'irrelevant';
		}
		else if ( status == "recommendation_hit" ){
			return "rec hit";
		}
		else if ( status == "recommendation_miss" ){
			return 'attended miss';
		}
		else if ( status == "recommendation_error" ){
			return 'rec error';
		}
	}

	function determineZIndex(status){
		if ( status == "no_algorithm" ){
			return 200;
		}
		else if ( status == "already_happened" || status == "will_still_happen"	){
			return 200;
		}
		else if ( status == "recommendation_hit" ){
			return 500;
		}
		else if ( status == "recommendation_miss" ){
			return 300;
		}
		else if ( status == "recommendation_error" ){
			return 400;
		}
	}

	function showEventDetails(user, event, status){
		function doShowDetails(){

			$("#event_details_body").html("<img src='static/ajax-loader.gif'></img>");
			$("#event_details").modal('show');

			var content = "<p class='text-center'><span class='lead'>"+user.name+"</span> <span class='muted'>from "+user.city+": </span></p>";

			if ( status != "recommendation_error" ){
				content += "<p class='lead'>went to this event <strong>"+event.name+"</strong>,</p>";
			}
			else{
				content += "<p class='lead'>DID NOT go to this event <strong>"+event.name+"</strong>,</p>";
			}
			content += "<p><small>which happened at <em>"+event.venue_name+"</em>, <em>"+event.venue_city+"</em> on <em>"+event.time+"</em>.</small></p>";
			content += "<p><small>By the way, this event was created on <em>"+event.created+"</em>.</small></p>";

			if ( status == "recommendation_hit" ){
				content += "<small>This event was recommended by our "+$.trim($("#algs_button").text())+" recommender and</small>";
				content += "<p class='lead'>it was a <span class='label label-success'>hit!!</span></p>";
				content += "<small>This means that the user accepted the recommendation and went to this event.</small>";
			}
			else if ( status == "recommendation_miss" ){
				content += "<small>This event was NOT recommended by our "+$.trim($("#algs_button").text())+" recommender so,</small>";
				content += "<p class='lead'>it was a <span class='label label-warning'>miss!!</span></p>";
				content += "<small>This means that the user went to this event, yet our recommender failed to recommend this.</small>";
			}
			else if ( status == "recommendation_error" ){
				content += "<small>This event was recommended by our "+$.trim($("#algs_button").text())+" recommender and</small>";
				content += "<p class='lead'>it was <span class='label label-important'>an error!!</span></p>";
				content += "<small>This means that the recommendation was a bad one, thus the user didn't accept it!!</small>";
			}
			else if ( status == "already_happened" ){
				content += "<small>This event was NOT recommended by our "+$.trim($("#algs_button").text())+" recommender.</small>";
				content += "<p class='lead'>In fact, it <span class='label'>already happened</span>, so it can't be recommended (obviously!).</p>";
				content += "<small>On the other hand, this event was used by our recommender to figure out which events to recommend to the user.</small>";
			}
			else if ( status == "will_still_happen" ){
				content += "<small>This event was NOT recommended by our "+$.trim($("#algs_button").text())+" recommender.</small>";
				content += "<p class='lead'>In fact, it <span class='label label-inverse'>didn't happen yet</span>; It wasn't even created yet(!?)...</p>";
				content += "<small>What this means is that, by the time the recommender algorithm run, these events weren't yet created, so naturally, they couldn't be recommended yet... But at a later point in time, the user DID go to this event.</small>";
			}
			else{
			content += "<small>Hey, to see how our recommenders behaved in which concerns this particular user and event, <span class='label label-info'>please pick one algorithm/technique first</span>, among the ones available...</small>";
			}

			$("#event_details_body").html(content);
		}
		return doShowDetails;
	}

	function showUserDetails(user){
		function doShowDetails(){

			$("#event_details_body").html("<img src='static/ajax-loader.gif'></img>");
			$("#event_details").modal('show');

			var content = "<p class='text-center'><span class='lead'>"+user.name+"</span> <span class='muted'>from "+user.city+"</span></p>";

			if ( recommender == 'none' ){
				content += "<small>has gone to the following events:</small>";
			}
			else{

				content += "<p>have the following stats from our "+$.trim($('#algs_button').text())+" recommender: </p>";

				content += "<p><span class='label label-success'>Rec Hits:</span> " + recommended_stats['recommendation_hit'] + " (" + ((recommended_stats['recommendation_hit'] / recommended_stats['total_relevant'])*100).toFixed(1) + "%)   ";

				content += "<span class='label label-important'>Rec Errors:</span> " + recommended_stats['recommendation_error'] + " (" + ((recommended_stats['recommendation_error'] / recommended_stats['total_relevant'])*100).toFixed(1) + "%)   ";

				content += "<span class='label label-warning'>Attended Misses:</span> " + recommended_stats['recommendation_miss'] + " (" + ((recommended_stats['recommendation_miss'] / recommended_stats['total_relevant'])*100).toFixed(1) + "%)</p>";

			}

			content += "<table class='table table-striped table-bordered table-hover'>";
			content += "<tr><td><strong>Name</strong></td><td><strong>Venue</strong></td><td><strong>Time</strong></td><td><strong>Status</strong></td></tr>";

			var evv = null;
			if ( recommender != 'none' ){
				evv = all_user_events_and_recommendations;
				evv.sort(sortbyLatLng);
			}
			else {
				evv = city_events[current_city];
				evv.sort(sortbyLatLng);
			}

			for (var i=0; i<evv.length; i++ ){

				if ( recommender == 'none' ){

					for (var j=0; j<user.events.length; j++ ){
						if ( user.events[j] == evv[i].id ){
							var status = "no_algorithm";
							var status_color = getColor(status);
							var status_msg = determineStatusMsg(status);
							content += "<tr class='"+status_color+"'><td>" + evv[i].name + "</td><td>@" + evv[i].venue_name + "</td><td>" + evv[i].time + "</td><td>"+status_msg+"</td></tr>";
							break;
						}
					}

				}
				else {

					if ( evv[i].status == "already_happened" || evv[i].status == "will_still_happen" ){
						continue;
					}
					var status = evv[i].status;
					var status_color = getColor(status);
					var status_msg = determineStatusMsg(status);
					content += "<tr class='"+status_color+"'><td>" + evv[i].name + "</td><td>@" + evv[i].venue_name + "</td><td>" + evv[i].time + "</td><td>"+status_msg+"</td></tr>";
				}
			};

			content += "</table>";
			$("#event_details_body").html(content);

		}
		return doShowDetails;
	}

	function setRecommender(rec, user){

		if ( rec == 'none' ){
			$("#algs_button").html("<i class='icon-remove icon-white'></i> None");
			$("#filters_button").addClass("disabled");
		}
		else if ( rec == 'distance' ){
			$("#algs_button").html("<i class='icon-map-marker icon-white'></i> Location Based");
		}
		else{
			return;
		}

		recommender = rec;

		if ( current_user == null ){
			return;
		}

		if ( rec == 'none' ){
			var c = chooseUser(current_user, true);
			c();
			return;
		}

		$("#filters_button").removeClass("disabled");

		pinUserRecommendationsInMap(rec);
	}

	function pinUserRecommendationsInMap(rec){

		removeEventMarkers();

		var events_source = city_events[current_city];

		for (i in city_rec_events[current_city]){
			events_source.push(city_rec_events[current_city][i]);
		}

		var user_events = current_user.events;
		events_source.sort(sortbyLatLng);

		all_user_events_and_recommendations = [];

		var p_time = current_user.p_time;	

		var recommended_to_user = current_user['rec_'+rec];

		recommended_stats = { 'already_happened' : 0, 'will_still_happen' : 0, 'recommendation_hit' : 0, 'recommendation_miss' : 0, 'recommendation_error' : 0, 'total_relevant' : 0 };

		seen = {};

		for ( var i=0; i<events_source.length; i++ ){
			for ( var j=0; j<user_events.length; j++ ){
				if ( user_events[j] == events_source[i].id ){

					if ( seen[events_source[i].id] ){
						continue;
					}
					seen[events_source[i].id] = true;

/*					// This for below is being done only because rec_events.csv doesn't have event time nor created time
					for ( var k=0; k<city_events[current_city].length; k++ ){
						if ( city_events[current_city][k].id == events_source[i].id ){
							events_source[i].time = city_events[current_city][k].time;
							events_source[i].time_long = city_events[current_city][k].time_long;
							events_source[i].created = city_events[current_city][k].created;
							events_source[i].created_long = city_events[current_city][k].created_long;
							break;
						}
					}*/


					if ( events_source[i].time_long < p_time ){
						//already happened, Color 1
						var entry = events_source[i];
						events_source[i]['status'] = 'already_happened';
						all_user_events_and_recommendations.push(events_source[i]);
						recommended_stats['alread_happened'] += 1;
					}
					else if ( events_source[i].created_long > p_time ){
						//will happen yet, Color 1
						var entry = events_source[i];
						events_source[i]['status'] = 'will_still_happen';
						all_user_events_and_recommendations.push(events_source[i]);
						recommended_stats['will_still_happen'] += 1;
					}
					else{
						var hit = false;
						for ( var k=0; k<recommended_to_user.length; k++ ){
							if ( recommended_to_user[k] == user_events[j] ){
								//was recommended and accepted, Color 2
								hit = true;
								var entry = events_source[i];
								events_source[i]['status'] = 'recommendation_hit';
								all_user_events_and_recommendations.push(events_source[i]);
								recommended_stats['recommendation_hit'] += 1;
								recommended_stats['total_relevant'] += 1;
								break;
							}
						}
						if ( hit == false ){
							//was not recommended, but user went to this event, Color 3
							var entry = events_source[i];
							events_source[i]['status'] = 'recommendation_miss';
							all_user_events_and_recommendations.push(events_source[i]);
							recommended_stats['recommendation_miss'] += 1;
							recommended_stats['total_relevant'] += 1;
						}
					}
					break;
				}
			}
		}

		for ( var i=0; i<recommended_to_user.length; i++ ){
			var found = false;
			for ( var j=0; j<user_events.length; j++ ){
				if ( user_events[j] == recommended_to_user[i] ){
					found = true;
					break;
				}
			}
			if ( !found ){
				for ( var j=0; j<events_source.length; j++ ){
					if ( recommended_to_user[i] == events_source[j].id ){

						if ( seen[events_source[j].id] ){
							continue;
						}
						seen[events_source[j].id] = true;

/*						// Again, this for below is being done only because rec_events.csv doesn't have event time nor created time
						for ( var k=0; k<city_events[current_city].length; k++ ){
							if ( city_events[current_city][k].id == events_source[j].id ){
								events_source[j].time = city_events[current_city][k].time;
								events_source[j].time_long = city_events[current_city][k].time_long;
								events_source[j].created = city_events[current_city][k].created;
								events_source[j].created_long = city_events[current_city][k].created_long;
								break;
							}
						}*/

						//was recommended, but user didn't go to this event, Color 4
						var entry = events_source[j];
						events_source[j]['status'] = 'recommendation_error';
						all_user_events_and_recommendations.push(events_source[j]);
						recommended_stats['recommendation_error'] += 1;
						recommended_stats['total_relevant'] += 1;
						break;
					}
				}
			}
		}


		for ( var i=0; i<all_user_events_and_recommendations.length; i++ ){

			var event_status = all_user_events_and_recommendations[i].status;

			if ( event_status == 'already_happened' && !past_enabled ){
				continue;
			}
			else if ( event_status == 'will_still_happen' && !future_enabled ){
				continue;
			}
			else if ( event_status == 'recommendation_hit' && !hits_enabled ){
				continue;
			}
			else if ( event_status == 'recommendation_miss' && !misses_enabled ){
				continue;
			}
			else if ( event_status == 'recommendation_error' && !dismisses_enabled ){
				continue;
			}

			var status_icon = determineIcon(event_status);
			var status_icon_shadow = determineIconShadow(event_status);
			var event_details = showEventDetails(current_user, all_user_events_and_recommendations[i], event_status);
			var status_zIndex = determineZIndex(event_status);

			var event_marker = new google.maps.Marker({position : new google.maps.LatLng(all_user_events_and_recommendations[i].lat, all_user_events_and_recommendations[i].lon),
						map : map,
						title : all_user_events_and_recommendations[i].name + " at " + all_user_events_and_recommendations[i].venue_name + ", " + all_user_events_and_recommendations[i].venue_city,
						icon : status_icon,
						shadow : status_icon_shadow,
						draggable : true,
						zIndex : status_zIndex	});
			event_markers.push({ 'marker' : event_marker, 'event' : all_user_events_and_recommendations[i] });
			google.maps.event.addListener(event_marker, 'click', event_details);
		}

	}

	$(document).ready(function(){
		start();	
	});
	
	
	</script>
</html>
