<!doctype html style="height:90%;">

<head>
<title>RecEventos</title>
<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/style.css">
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>

<body style="height:90%;">

	<div class="span3" style="margin-left:5px;">
		<ul class="nav nav-list" style="height: 48%;">
			<li class="nav-header label label-info">Cities</li>
			<li class="divider"></li>
			<li>
				<ul id="cities-list" class="well nav nav-list" style="height: 87%; overflow-y:scroll;">
					{% for city in cities %}
					{% if city == "Arlington" %}
					<li id="city_{{city|replace(' ','_')}}" class="active"><a href="#" onclick="changeCity('{{city}}')"><i class="icon-home"></i>{{city}}</a></li>
					{% else %}
					<li id="city_{{city|replace(' ','_')}}"><a href="#" onclick="changeCity('{{city}}')"><i class="icon-home"></i>{{city}}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
			</li>
		</ul>
		<ul class="nav nav-list" style="height: 45%; margin-top:50px;">
			<li id="user-list-header" class="nav-header label label-info">Loading users...</li>
			<li class="divider"></li>
			<li>
				<ul id="user-list" class="well nav nav-list" style="height: 87%; overflow-y:scroll;">
					<img src='static/ajax-loader-enhanced.gif'></img>
				</ul>
			</li>
		</ul>
	</div>
	<div class="span12" style="width:80%;">
		<div class="row">
			<div style="padding-top:10px; margin-top:2px;">
				<div class="row span9">
					<div class="span4">
						<span class="label label-inverse">Current city:</span>
						<button id="cities_button" class="btn btn-large btn-inverse btn-block" type="button">Loading...</button>
					</div>
					<div class="span4">
						<span class="label label-inverse">Current technique:</span>
						<div class="dropdown">
							<a id="algs_button" class="dropdown-toggle btn btn-large btn-inverse btn-block" data-toggle="dropdown" type="button" href="#">None</a>
							<ul class="dropdown-menu" role="menu">
								<li><a tabindex="-1" href="#" onclick="setRecommender('none');">None</a></li>
								<li><a tabindex="-1" href="#" onclick="setRecommender('distance');">Distance</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="span4" style="margin-bottom:35px;">
						<h1> RecEventos</h1>
						<small class="muted"><cite title="Events recommendation - enhanced!">RecEventos</cite> &copy2013 FRH-Analytics <cite title="Universidade Federal de Campina Grande">UFCG</cite>/<cite title="Hewlett-Packard">HP</cite></small>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="loading_message" class="alert alert-info"><strong>Welcome!</strong> Loading map...</div>
			<div id="map_canvas" style="height:86%; width:100%;"></div>
		</div>
	</div>

	<div id="event_details" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="event_details_label" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3 id="event_details_label">Event Details</h3>
		</div>
		<div id="event_details_body" class="modal-body">
			<img src="static/ajax-loader.gif"></img>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>

    </body>
	<script src="static/jquery-1.9.1.min.js" language="javascript" type="text/javascript"></script>
	<script src="static/bootstrap/js/bootstrap.js" language="javascript" type="text/javascript"></script>
	<script language="javascript">
	
    var directionDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;

    var event_markers = new Array();
    var user_markers = new Array();
    var id_to_user_marker = {};
    var user_event_markers = new Array();

    var current_city = null;
    var current_user = null;
    var city_events = {};
    var city_members = {};
    var city_rec_events = {};

    var recommender = 'none';

    function mapinitialize() {
    	directionsDisplay = new google.maps.DirectionsRenderer();
	var cg = new google.maps.LatLng(-7.242598, -35.892334);
	
	var styles = [
	  {
	    stylers: [
	      { hue: "#00ffe6" },
	      { saturation: -20 }
	    ]
	  },{
	    featureType: "road",
	    elementType: "geometry",
	    stylers: [
	      { lightness: 100 },
	      { visibility: "simplified" }
	    ]
	  },{
	    featureType: "road",
	    elementType: "labels",
	    stylers: [
	      { visibility: "off" }
	    ]
	  }
	];

        var myOptions = {
            zoom:11,
            mapTypeId:google.maps.MapTypeId.ROADMAP,
	    center:cg,
	    styles:styles,
	    disableDefaultUI:true,
	    scaleControl:true,
	    zoomControl:true
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	directionsDisplay.setMap(map);
    }

    function calcRoute(r) {

        var waypts = [];

        start = new google.maps.LatLng(r.src[0], r.src[1]);
        end = new google.maps.LatLng(r.dst[0], r.dst[1]);
        var request = {
            origin:start,
            destination:end,
            waypoints:waypts,
            optimizeWaypoints:true,
            travelMode:google.maps.DirectionsTravelMode.DRIVING
        };
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
                var route = response.routes[0];
            }
        });
	}

	function start(){
		mapinitialize();

		$("#user-list-header").html("Users at Arlington");
		current_city = "Arlington";
		$("#cities_button").html("Arlington");

		google.maps.event.addListener(map, 'tilesloaded', function(){
			$("#loading_message").css("display", "none");
		});

		$("#user-list").html("<img src='static/ajax-loader-enhanced.gif'></img>");

		city_events[current_city] = [];
		{% for event in events %}
		city_events[current_city].push({ 'id' : "{{event.id}}", 'lat' : {{event.lat}}, 'lon' : {{event.lon}}, 'name' : "{{event.name}}", 'venue_name' : "{{event.venue_name}}", 'venue_city' : "{{event.venue_city}}", 'time' : "{{event.time}}", 'created' : "{{event.created}}" });
		{% endfor %}

		city_rec_events[current_city] = [];
		{% for rec_event in rec_events %}
		city_rec_events[current_city].push({ 'id' : "{{rec_event.id}}", 'lat' : {{rec_event.lat}}, 'lon' : {{rec_event.lon}}, 'name' : "{{rec_event.name}}", 'venue_name' : "{{rec_event.venue_name}}", 'venue_city' : "{{rec_event.venue_city}}" });
		{% endfor %}

		var user_list = "";

		city_members[current_city] = [];
		{% for user in users %}
		city_members[current_city].push({ 'id' : "{{user.id}}", 'lat' : {{user.lat}}, 'lon' : {{user.lon}}, 'name' : "{{user.name}}", 'events' : "{{user.events}}".split(","), 'city' : "{{user.city}}", 'p_time' : "{{user.p_time}}" });
		user_list += "<li id='user-list-item_{{user.id}}'><a  name='user-list-item_{{user.id}}' href='#'user-list-item_{{user.id}}' onclick='chooseUserById({{user.id}})'><i class='icon-user'></i>{{user.name}}</a></li>";
		{% endfor %}

		pinUsersInMap();
		if ( user_markers.length != 0 ){
			map.panTo(user_markers[Math.floor((Math.random()*user_markers.length))].marker.getPosition());
		}

		$("#user-list").html(user_list);
	}

	function changeCity(city){

		console.log("From city "+current_city+" to city "+city);
		$("#user-list-header").html("Loading users...");
		$("#user-list").html("<img src='static/ajax-loader-enhanced.gif'></img>");

		$("#city_"+city.replace(" ", "_")).addClass("active");
		if ( current_city != null && current_city != "" && current_city != city ){
			$("#city_"+current_city.replace(" ", "_")).removeClass("active");
		}

		$("#loading_message").html("<strong>Be patient!</strong> Loading city data...");
		$("#loading_message").css("display", "");

		current_city = city;
		$("#cities_button").html("Loading...");
		if ( city_events[current_city] ){
			removeAllMarkers();
			pinUsersInMap();
			if ( user_markers.length != 0 ){
				map.panTo(user_markers[Math.floor((Math.random()*user_markers.length))].marker.getPosition());
			}
			var user_list = "";
			for ( i in city_members[current_city] ){
				user_list += "<li id=\"user-list-item_" + city_members[current_city][i].id + "\"><a  name=\"user-list-item_" + city_members[current_city][i].id + "\"  href='#user-list-item_" + city_members[current_city][i].id + "' onclick='chooseUserById("+ city_members[current_city][i].id +")'><i class='icon-user'></i>" +city_members[current_city][i].name+"</a></li>";
			}
			$("#user-list").html(user_list);
			$("#cities_button").html(city);
			current_user = null;
			$("#user-list-header").html("Users at "+city);
			$("#loading_message").css("display", "none");
		}
		else{
			$.get("load_city/"+city.replace(" ", "_"), function(data){

				data = JSON.parse(data);

				city_events[current_city] = [];
				for ( var i=0; i<data.events.length; i++){
					city_events[current_city].push({ 'id' : data.events[i].id, 'lat' : data.events[i].lat, 'lon' : data.events[i].lon, 'name' : data.events[i].name, 'venue_name' : data.events[i].venue_name, 'venue_city' : data.events[i].venue_city, 'time' : data.events[i].time, 'created' : data.events[i].created });
				};

				city_rec_events[current_city] = [];
				for ( var i=0; i<data.rec_events.length; i++){
					city_rec_events[current_city].push({ 'id' : data.rec_events[i].id, 'lat' : data.rec_events[i].lat, 'lon' : data.rec_events[i].lon, 'name' : data.rec_events[i].name, 'venue_name' : data.rec_events[i].venue_name, 'venue_city' : data.rec_events[i].venue_city });
				};

				var user_list = "";
				city_members[current_city] = [];
				for ( var i=0; i<data.users.length; i++){
					city_members[current_city].push({ 'id' : data.users[i].id, 'lat' : data.users[i].lat, 'lon' : data.users[i].lon, 'name' : data.users[i].name, 'events' : data.users[i].events.split(","), 'city' : data.users[i].city, 'p_time' : data.users[i].p_time });
					user_list += "<li id=\"user-list-item_" + city_members[current_city][i].id + "\" ><a  name=\"user-list-item_" + city_members[current_city][i].id + "\"  href='#user-list-item_" + city_members[current_city][i].id + "' onclick='chooseUserById("+ city_members[current_city][i].id +")'><i class='icon-user'></i>"+city_members[current_city][i].name+"</a></li>";
				};

				removeAllMarkers();
				pinUsersInMap();
				if ( user_markers.length != 0 ){
					map.panTo(user_markers[Math.floor((Math.random()*user_markers.length))].marker.getPosition());
				}
				$("#user-list").html(user_list);
				$("#cities_button").html(city);
				current_user = null;
				$("#user-list-header").html("Users at "+city);
				$("#loading_message").css("display", "none");
			});
		}

	}

	function removeEventMarkers(){
		for (i in event_markers){
			event_markers[i].marker.setMap(null);
		}
		event_markers.length = 0;
	}

	function removeUserMarkers(){
		for (i in user_markers ){
			user_markers[i].marker.setMap(null);
		}
		user_markers.length = 0;
		id_to_user_marker = {};
	}

	function removeAllMarkers(){
		removeEventMarkers();
		removeUserMarkers();
	}

	function sortbyLatLng(a, b){
		if (a.lat < b.lat){
			return -1;
		}
		else if (a.lat == b.lat){
			if (a.lon < b.lon){
				return -1;
			}
			else if (a.lon == b.lon){
				return 0;
			}
			else{
				return -1;
			}
		}
		else{
			return 1;
		}
	}

	function chooseUserById(user_id){
		for ( i in city_members[current_city] ){
			if ( city_members[current_city][i].id == user_id ){
				var doIt = chooseUser(city_members[current_city][i], false);
				doIt();
				break;
			}
		}
	}

	function chooseUser(user, scroll){

		console.log("binding function of user "+user.name+" ("+user.id+")");

		function doChooseAndPinEvents(){

			console.log("calling function of user "+user.name+" ("+user.id+")");

			if ( current_user != null && current_user.id != user.id ){
				$("#user-list-item_"+current_user.id).removeClass("active");
				user_markers[id_to_user_marker[current_user.id]].marker.setIcon('static/user-pin.png');
				user_markers[id_to_user_marker[current_user.id]].marker.setZIndex(0);
			}

			$("#user-list-item_"+user.id).addClass("active");
			user_markers[id_to_user_marker[user.id]].marker.setIcon('static/chosen-user-pin.png');
			user_markers[id_to_user_marker[user.id]].marker.setZIndex(100);

			if ( scroll ){
				window.location = "#user-list-item_"+user.id;
			}

			current_user = user;

			pinUserEventsInMap(user);

		}
		return doChooseAndPinEvents;
	}

	function pinUsersInMap(){

		var users = city_members[current_city];
		users.sort(sortbyLatLng);

		var c_lat = -1, c_long = -1;
		var close_users = new Array();

		for (var i=0; i<users.length; i++ ){

			if ( c_lat != -1 && c_long != -1 ){
				if (Math.abs(c_lat - users[i].lat) > 0.000001 && Math.abs(c_long - users[i].lon) > 0.000001){
					close_users = new Array();
				}
			}
			c_long = parseFloat(users[i].lon);
			c_lat = parseFloat(users[i].lat);

			var user_marker = new google.maps.Marker({position : new google.maps.LatLng(users[i].lat, users[i].lon),
						map : map,
						title : users[i].name,
						icon : 'static/user-pin.png',
						shadow: 'static/shadow-user-pin.png',
						draggable : true,
						zIndex : 0	});
			user_markers.push({ 'marker' : user_marker, 'user' : users[i] });
			id_to_user_marker[users[i].id] = i;
			var chooseUserClosure = chooseUser(users[i], true);
			google.maps.event.addListener(user_marker, 'click', chooseUserClosure);

			var user_details = showUserDetails(users[i]);
			google.maps.event.addListener(user_marker, 'dblclick', user_details);
			close_users.push(users[i]);
		}
	}

	function pinUserEventsInMap(user){

		removeEventMarkers();

		var events = city_events[current_city];
		var user_events = user.events;
		events.sort(sortbyLatLng);

		var c_lat = -1, c_long = -1;
		var close_events = new Array();

		for (var i=0; i<events.length; i++ ){

			for (var j=0; j<user_events.length; j++ ){
				if ( user_events[j] == events[i].id ){


					if ( c_lat != -1 && c_long != -1 ){
						if (Math.abs(c_lat - events[i].lat) > 0.000001 && Math.abs(c_long - events[i].lon) > 0.000001){
							close_events = new Array();
						}
					}
					c_long = parseFloat(events[i].lon);
					c_lat = parseFloat(events[i].lat);


					var event_status ="ok";
					var status_icon = determineIcon(event_status);
					var event_details = showEventDetails(user, events[i], event_status);
					
					var event_marker = new google.maps.Marker({position : new google.maps.LatLng(events[i].lat, events[i].lon),
								map : map,
								title : events[i].name + " at " + events[i].venue_name + ", " + events[i].venue_city,
								icon : status_icon,
								shadow : 'static/shadow-event-pin.png',
								draggable : true,
								zIndex : 200	});
					event_markers.push({ 'marker' : event_marker, 'event' : events[i] });
					google.maps.event.addListener(event_marker, 'click', event_details);
					close_events.push(events[i]);

					break;
				}
			}
		}
	}

	function determineIcon(status){
		if ( status == "ok" ){
			return 'static/event-pin.png';
		}
	}

	function getColor(status){
		if ( status == 'ok' ){
			return 'info';
		}
	}

	function determineStatusMsg(status){
		if ( status == 'ok' ){
			return 'status';
		}
	}

	function showEventDetails(user, event, status){
		function doShowDetails(){

			$("#event_details_body").html("<img src='static/ajax-loader.gif'></img>");
			$("#event_details").modal('show');

			var content = "<p><span class='label label-info'>"+user.name+"</span> from <span class='label label-success'>"+user.city+"</span> went to </p><p>this event <span class='label label-inverse'>\""+event.name+"\"</span></p><p>at <span class='label label-inverse'>"+event.venue_name+"</span>, <span class='label label-success'>"+event.venue_city+"</span></p><p> on <span class='label label-warning'>"+event.time+"</span>.</p>";
			$("#event_details_body").html(content);

		}
		return doShowDetails;
	}

	function showUserDetails(user){
		function doShowDetails(){

			$("#event_details_body").html("<img src='static/ajax-loader.gif'></img>");
			$("#event_details").modal('show');

			var content = "<p><span class='label label-info'>"+user.name+"</span> from <span class='label label-success'>"+user.city+"</span> went to the following events:</p>";

			content += "<table class='table table-striped table-bordered table-hover'>";
			content += "<tr><td><strong>Name</strong></td><td><strong>Venue</strong></td><td><strong>Time</strong></td><td><strong>Status</strong></td></tr>";
	
			var events = city_events[current_city];
			var user_events = user.events;
			events.sort(sortbyLatLng);

			var table_content = "";

			var status_counts = { 'ok' : 0 };
			var num_events = 0;
			
			for (var i=0; i<events.length; i++ ){

				for (var j=0; j<user_events.length; j++ ){
					if ( user_events[j] == events[i].id ){
						var status ="ok";
						var status_color = getColor(status);
						var status_msg = determineStatusMsg(status);
						table_content += "<tr class='"+status_color+"'><td>" + events[i].name + "</td><td>@" + events[i].venue_name + "</td><td>" + events[i].time + "</td><td>"+status_msg+"</td></tr>";
						status_counts[status] = status_counts[status] + 1;
						num_events += 1;
						break;
					}
				}

			};

			content += "<span class='label label-"+getColor(status)+"'>ok: </span>"+((status_counts['ok']/num_events)*100)+"%";

			content += table_content;

			content += "</table>";

			$("#event_details_body").html(content);

		}
		return doShowDetails;
	}

	function setRecommender(rec){
		recommender = rec;

		if ( recommender == 'none' ){
			changeCity(current_city);
			return;
		}

		removeEventMarkers();

		var events_source = city_events[current_city];
		var user_events = user.events;
		events_source.sort(sortbyLatLng);

		var rec_events = city_rec_events[current_city];
		var all_events = [];

		var p_time = current_user.p_time;

		for ( var i=0; i<events_source.length.lenght; i++ ){
			for ( var j=0; j<user_events.length; j++ ){
				if ( user_events[j] == events_source[i].id ){
					if ( events_source[i].time < p_time ){
						//already happened, Color 1
						var entry = events_source[i];
						events_source[i]['status'] = 'already_happened';
						all_events.push(events_source[i]);
					}
					else if ( events_source[i].created > p_time ){
						//will happen yet, Color 1
						var entry = events_source[i];
						events_source[i]['status'] = 'will_still_happen';
						all_events.push(events_source[i]);
					}
					else{
						// CHECK AGAINST 5 RECOMMENDED EVENTS TO CURRENT USER
						// REMEMBER TO READ RECOMMENTED EVENTS FROM SERVER AND DO PROPER PARSING
						// ACTIVATE TECHNIQUE BUTTON ONCE MEMBER IS CHOSEN
					}
				}
			}
		}

		for ( var i=0; i<rec_events.length; i++ ){
			var found = false;
			for ( var j=0; j<user_events.length; j++ ){
				if ( user_events[j] == rec_events[i].id ){
					found = true;
					break;
				}
			}
			if ( !found ){
				all_events.push(rec_events[i]);
			}
		}

		for ( var i=0; i<all_events.length; i++ ){

			var event_status = all_events.status;
			var status_icon = determineIcon(event_status);
			var event_details = showEventDetails(user, events_source[i], event_status);
					
			var event_marker = new google.maps.Marker({position : new google.maps.LatLng(events_source[i].lat, events_source[i].lon),
						map : map,
						title : events_source[i].name + " at " + events_source[i].venue_name + ", " + events_source[i].venue_city,
						icon : status_icon,
						shadow : 'static/shadow-event-pin.png',
						draggable : true,
						zIndex : 200	});
			event_markers.push({ 'marker' : event_marker, 'event' : events_source[i] });
			google.maps.event.addListener(event_marker, 'click', event_details);
			break;
		}

	}

	$(document).ready(function(){
		start();	
	});
	
	
	</script>
</html>
