<!doctype html style="height:90%;">

<head>
<title>RecEventos MapDisplay</title>
<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/style.css">
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>

<body style="height:90%;">

	<div class="row">
		<div class="container" style="margin-left:auto; margin-right:auto;">
			<div class="span8">
				<blockquote class="pull-right" >
					<h1> RecEventos Data</h1>
					<small>Visualizing data from <cite title="Meetup.com">Meetup.com</cite> - &copy FRH Analytics UFCG</small>
				</blockquote>
			</div>
			<div class="span2" style="height:10%;">
				<button id="venues_button" style="padding-top:15px;" class="btn btn-small btn-danger btn-block disabled" type="button">Venues</button>
				<button id="users_button" style="padding-bottom:15px;" class="btn btn-small btn-success btn-block disabled" type="button" onclick="" >Users</button>
			</div>
		</div>
	</div>
	<div class="row" style="height:90%;">
<!--		<div class="container"> -->
			<div id="map_canvas" style="height:90%;"></div>
<!--		</div> -->
	</div>


	<div id="venue_events" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="venue_events_label" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3 id="venue_events_label">Venue Events</h3>
		</div>
		<div id="venue_events_body" class="modal-body">
			<p>Loading...</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>

    </body>
	<script src="static/jquery-1.9.1.min.js" language="javascript" type="text/javascript"></script>
	<script src="static/bootstrap/js/bootstrap.js" language="javascript" type="text/javascript"></script>
	<script language="javascript">


    var directionDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;

    var venue_markers = new Array();
    var venue_marker_ids = new Array();

    function mapinitialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        var cg = new google.maps.LatLng(-7.242598, -35.892334);
        var myOptions = {
            zoom:16,
            mapTypeId:google.maps.MapTypeId.ROADMAP,
            center:cg
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        directionsDisplay.setMap(map);
    }

    function calcRoute(r) {

        var waypts = [];

        start = new google.maps.LatLng(r.src[0], r.src[1]);
        end = new google.maps.LatLng(r.dst[0], r.dst[1]);
        var request = {
            origin:start,
            destination:end,
            waypoints:waypts,
            optimizeWaypoints:true,
            travelMode:google.maps.DirectionsTravelMode.DRIVING
        };
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
                var route = response.routes[0];
            }
        });
	}

	function start(){
		mapinitialize();
		pinVenuesInMap();
	}

	function removeMarkers(){
		for (i in venue_markers){
			venue_markers[i].setMap(null);
		}
		venue_markers.length = 0;
	}

	function pinVenuesInMap(){
		
		var venues = new Array();

		{% for venue in venues %}

			venues.push( { 'id' : {{venue.id}}, 'lat' : {{venue.lat}}, 'lon' : {{venue.lon}} });

		{% endfor %}

		for (var i=0; i<venues.length; i++ ){

			var venue_marker = new google.maps.Marker({position : new google.maps.LatLng(venues[i].lat, venues[i].lon),
						map : map,
						icon : 'static/venue-marker.png' });
			venue_markers.push(venue_marker);
			venue_marker_ids[venue_marker] = venues[i].id;
			var showVenueEvent = showVenueEvents(venues[i].id);
			google.maps.event.addListener(venue_marker, 'click', showVenueEvent);

			if ( i == venues.length-1 ){
				map.panTo(new google.maps.LatLng(venues[i].lat, venues[i].lon));
			}
		}
		$('#users_button').removeClass("disabled").attr("onclick", "showUsersView();");
	}

	function showVenueEvents(venue_id){
		function showModal(){
			console.log("showing events of venue with id ="+venue_id);
			$("#venue_events_body").load('venue_events/'+venue_id);
			$("#venue_events").modal('show');
		}
		return showModal;
	}
	
	function showUsersView(){
		$('#users_button').addClass("disabled").attr("onclick", "");
		$('#venues_button').removeClass("disabled").attr("onclick", "showVenuesView();");
		removeMarkers();
	}

	function showVenuesView(){
		$('#venues_button').addClass("disabled").attr("onclick", "");
		$('#users_button').removeClass("disabled").attr("onclick", "showUsersView();");
		removeMarkers();
		pinVenuesInMap();
	}

	$(document).ready(start());

	</script>
</html>
